# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.env
.venv/
venv/
env/

# Distribución / empaquetado
*.egg-info/
dist/
build/

# IDEs y sistemas operativos
.DS_Store
.idea/
.vscode/

# Flask
instance/
*.log